@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

/* fonts */
$font-family-primary: 'Overpass', sans-serif;
$font-family-secondary: 'Ubuntu', sans-serif;
/* Colors */
$primary-light-red: hsl(356, 100%, 66%);
$primary-very-light-red: hsl(355, 100%, 74%);
$primary-very-dark-blue: hsl(208, 49%, 24%);
$primary-white: hsl(0, 0%, 100%);
$primary-grayish-blue: hsl(240, 2%, 79%);
$primary-very-dark-blue: hsl(240, 10%, 16%);
/* gradients */
$bg-gradient-intro-mobile-light-red: hsl(13, 100%, 72%);
$bg-gradient-intro-mobile-very-light-red: hsl(13, 100%, 72%);
$bg-gradient-body-very-dark-gray-blue: hsl(237, 17%, 21%);
$bg-gradient-body-very-dark-desaturated-blue: hsl(237, 23%, 32%);
/* weights */
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

:root {
    // Setting font size to about 16px.
    font-size: 100%;

    body {
        margin: 0;
        // Body font size 16px
        font-size: 1rem;

    }

}

* {
    margin: 0;
    padding: 0;
}

/* grid */
.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;

}

.column_base_padding {
    padding: 10px;
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }

    ._15 {
        flex: 1.5;
    }

    ._20 {
        flex: 2;
    }

    ._25 {
        flex: 2.5;
    }

    ._30 {
        flex: 3;
    }

    ._40 {
        flex: 4;
    }

    ._55 {
        flex: 5.5;
    }

    ._60 {
        flex: 6;
    }

    ._70 {
        flex: 7;
    }

    ._75 {
        flex: 7.5;
    }

    ._80 {
        flex: 8;
    }

    ._85 {
        flex: 8.5;
    }

    .h-100 {
        height: 100%;
    }

}

.hide {
    display: none !important;
}

/* utils */
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/* ------------------------------------ */

.bg-orange {
    background-color: orange;
}

.bg-blue {
    background-color: rgb(100, 248, 236)
}

.bg-gray {
    background-color: gray;
}

.h-100 {
    height: 100% !important;
}



.hide {
    display: none !important;
    transition: 2s;
}

.overlay {
    margin-top: 100px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    transition: 2s;
    // display: none !important;
    // height: 100%;
    // width: 0;
    // font-family: 'Overpass', sans-serif;
    // display: flex;
    // position: fixed;
    // z-index: 5;
    // top: 0;
    // left: 0;
    // background-color: rgba(20, 236, 117, 0.5);
    // font-weight: bold;
    // overflow-x: hidden;
    // transition: 0.5s;
    // display: flex;
    // flex-direction: column;
    // padding: 1rem;
    // overflow-x: hidden;

    // &__content {
    //     position: relative;
    // }

    @include flex(column, flex-start, center);
    padding: 1rem;

    &__closebtn {
        background-image: url(./images/icon-close.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 3.5rem;
        height: 1.5rem;
        align-self: flex-end;

    }

    .wrapper {

        @include flex(column, center, center);
    }

    &__content {

        background-color: $primary-white;
        border-radius: 1rem;
        min-height: 40%;
        min-width: 80%;
        @include flex(column, center, center);
        font-size: 1.5rem;
        font-weight: bold;
        color: orange;
        padding: 1rem;


        a {
            text-decoration: none;
            color: $primary-very-dark-blue;
        }

        .a-wrapper {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.header {
    font-family: $font-family-primary;
    background-color: $primary-light-red;
    color: $primary-white;
    min-height: 600px;
    border-radius: 0 0 0 5rem;
    background-image: url('./images/bg-pattern-intro-desktop.svg');
    background-size: 300%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    &__nav {
        @include flex(row, flex-start, center);
        min-height: 100px;
        font-size: 1rem;

        li,
        span,
        h1 {
            cursor: pointer;
        }

        &__brand {

            h1 {
                font-size: 2rem;
                font-weight: 700;
                text-align: center
            }
        }


        &__list {
            @include flex(row, flex-start, center);
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;

            li {
                .dropdown {

                    i {
                        &:after {
                            content: "\f078";
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            font-size: 0.5rem;
                            margin-left: 0.2rem;

                        }
                    }

                    &:hover {

                        i {
                            &:after {
                                content: "\f077";
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                font-size: 0.5rem;
                                margin-left: 0.2rem;
                            }
                        }
                    }

                    &-content {
                        display: none !important;
                        position: fixed;
                        background-color: $primary-white;
                        display: flex;
                        flex-direction: column;
                        min-width: 7rem;
                        // padding: 0.5rem 1rem;
                        transform: translateX(-.8rem);
                        border-radius: .5rem;

                        a {
                            text-decoration: none;
                            color: $primary-very-dark-blue;
                            font-size: 1rem;
                            padding: 0.5rem 0;
                            margin-left: .7rem;
                            display: block;
                            font-weight: 500;

                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }
                }

                &:hover {

                    .dropdown {
                        &-content {
                            display: block !important;
                        }
                    }
                }
            }


            li:nth-child(n) {
                margin-right: 1.5rem;
                font-weight: bold;


            }
        }

        &__mobile-icon {
            background-image: url('./images/icon-hamburger.svg');
            width: 2rem;
            height: 2rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: none;
            cursor: pointer;
        }

        &__auth {
            @include flex(row, center, center);
            font-weight: bold;
            font-size: 1rem;

            span:nth-child(n) {
                margin-right: 1.5rem;
            }

        }
    }

    /* intro header section */
    &__intro {

        @include flex(column, center, center);
        height: 100%;
        flex: 1;

        h1 {
            font-size: 3.5rem;
        }

        p {
            font-size: 1.5rem;
        }

        .btns {
            margin: 2rem 0 0 0;
        }



    }

}

.mid-section {
    font-family: $font-family-primary;
    color: $primary-very-dark-blue;
    min-height: 900px;
    background-image: url('./images/illustration-editor-desktop.svg');
    background-size: 800px;
    background-position: right -20em bottom 10px;
    background-repeat: no-repeat;


    &__title {
        text-align: center;
        margin: 10rem 0 0 0;
        font-size: 1.8rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6.5rem 0 0 12rem;

        h2 {
            margin: 1.5rem 0;
        }
    }

    &__img {
        img {
            display: none;
        }
    }
}


/* button */
.btn {
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    font-weight: bold;

    &--primary {
        background-color: $primary-white;
        color: $bg-gradient-intro-mobile-light-red;
        // creat a transition effect
        transition: all 0.3s ease-in-out;


        &:hover {
            background-color: $primary-very-light-red;
            color: $primary-white;

        }
    }

    &--clear {
        background-color: transparent;
        color: $primary-white;
        border: 1px solid $primary-white;
        // creat a transition effect
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $primary-white;
            color: $primary-grayish-blue;
        }
    }

    &--unstyled {
        border: none;
        background-color: transparent;
        color: inherit;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

    }
}

.btns {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .7rem;
}

@media screen and (max-width: 800px) {
    .header {
        &__nav {
            @include flex(row, space-between, center);
            padding: 0 1rem;

            &__list {
                display: none !important;
            }

            &__mobile-icon {
                display: block;
            }

            &__auth {
                display: none !important;
            }
        }

        &__intro {
            padding: 0 1rem;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    .mid-section {
        background-image: none;
        margin-bottom: 2rem;

        &__title {
            font-size: 1.5rem;
        }

        &__content {
            order: 2;
            margin: 1.5rem 1rem;

        }

        &__img {
            order: 1;
            padding: 0 1rem;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}