@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/* fonts */
/* Colors */
/* gradients */
/* weights */
:root {
  font-size: 100%; }
  :root body {
    margin: 0;
    font-size: 1rem; }

* {
  margin: 0;
  padding: 0; }

/* grid */
.container {
  max-width: 1440px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.column {
  flex-basis: 100%; }

.column_base_padding {
  padding: 10px; }

@media screen and (min-width: 800px) {
  .column {
    flex: 1; }
  ._15 {
    flex: 1.5; }
  ._20 {
    flex: 2; }
  ._25 {
    flex: 2.5; }
  ._30 {
    flex: 3; }
  ._40 {
    flex: 4; }
  ._55 {
    flex: 5.5; }
  ._60 {
    flex: 6; }
  ._70 {
    flex: 7; }
  ._75 {
    flex: 7.5; }
  ._80 {
    flex: 8; }
  ._85 {
    flex: 8.5; }
  .h-100 {
    height: 100%; } }

.hide {
  display: none !important; }

/* utils */
/* ------------------------------------ */
.bg-orange {
  background-color: orange; }

.bg-blue {
  background-color: #64f8ec; }

.bg-gray {
  background-color: gray; }

.h-100 {
  height: 100% !important; }

.header {
  font-family: "Overpass", sans-serif;
  background-color: #ff525d;
  color: white;
  min-height: 600px;
  border-radius: 0 0 0 5rem;
  background-image: url("./images/bg-pattern-intro-desktop.svg");
  background-size: 300%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* intro header section */ }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    font-size: 1rem; }
    .header__nav li,
    .header__nav span,
    .header__nav h1 {
      cursor: pointer; }
    .header__nav__brand h1 {
      font-size: 2rem;
      font-weight: 700;
      text-align: center; }
    .header__nav__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      list-style: none; }
      .header__nav__list li:nth-child(n) {
        margin-right: 1.5rem;
        font-weight: bold; }
        .header__nav__list li:nth-child(n):after {
          content: "\f078";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          font-size: 0.5rem;
          margin-left: 0.5rem; }
    .header__nav__auth {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1rem; }
      .header__nav__auth span:nth-child(n) {
        margin-right: 1.5rem; }
  .header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1; }
    .header__intro h1 {
      font-size: 3.5rem; }
    .header__intro p {
      font-size: 1.5rem; }
    .header__intro .btns {
      margin: 2rem 0 0 0; }

.mid-section {
  font-family: "Overpass", sans-serif;
  color: #25252d;
  min-height: 900px;
  background-image: url("./images/illustration-editor-desktop.svg");
  background-size: 800px;
  background-position: right -20em bottom 10px;
  background-repeat: no-repeat; }
  .mid-section__title {
    text-align: center;
    margin: 10rem 0 0 0;
    font-size: 1.8rem; }
  .mid-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6.5rem 0 0 12rem; }
    .mid-section__content h2 {
      margin: 1.5rem 0; }
  .mid-section__img img {
    display: none; }

/* button */
.btn {
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  cursor: pointer;
  border: none;
  font-weight: bold; }
  .btn--primary {
    background-color: white;
    color: #ff8f70;
    transition: all 0.3s ease-in-out; }
    .btn--primary:hover {
      background-color: #c8c8cb;
      color: white; }
  .btn--clear {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease-in-out; }
    .btn--clear:hover {
      background-color: white;
      color: #c8c8cb; }

.btns {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .7rem; }

@media screen and (max-width: 800px) {
  .header__nav {
    display: none !important; }
  .header__intro {
    padding: 0 1rem; }
    .header__intro h1 {
      font-size: 2.5rem; }
    .header__intro p {
      font-size: 1.2rem; }
  .mid-section {
    background-image: none;
    margin-bottom: 2rem; }
    .mid-section__title {
      font-size: 1.5rem; }
    .mid-section__content {
      order: 2;
      margin: 1.5rem 1rem; }
    .mid-section__img {
      order: 1;
      padding: 0 1rem; }
      .mid-section__img img {
        display: block;
        width: 100%; } }
