:root {
    // Setting font size to about 16px.
    font-size: 100%;

    body {
        margin: 0;
        // Body font size 16px
        font-size: 1rem;
    }
}

.content {
    background-color: orange;
    padding: .5rem;
}